/* Vicente Megido García (UO294013) */

/* Selector Specificity: 001 */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Selector Specificity: 001 */
h1 {
    flex: 1;
    margin-left: 2%;
}

/* Selector Specificity: 002 */
header>nav {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 799px) {

    /* Selector Specificity: 002 */
    header>h1 {
        font-size: 1.5em;
    }

    /* Selector Specificity: 003*/
    header>h1>a {
        width: 100%;
        /* flex-basis: 100%; */
        font-size: 1.5em;
    }

    /* Selector Specificity: 002 */
    header>nav {
        font-size: 1.2em;
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
